.hero {
  background-image: url("../../images/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #29378e;
  width: 100%;
}

.content h1 {
  font-family: "suez one", sans-serif;
  font-size: 6.5rem;
  margin-block: 20px;
}

.content p {
  font-family: "heebo", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 40px;
}

.content button {
  font-family: "heebo", sans-serif;
  font-size: 1.4rem;
  padding-block: 10px;
}

.cta {
  width: 200px;
  font-family: "heebo", sans-serif;
}

.caret {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f7d6ab;
  font-size: 3rem;
  cursor: pointer;
}

@media (max-width: 991px) {
  .hero {
    background-image: url("../../images/background_mobile.jpg");
    background-size: contain;
    background-position: center bottom;
  }

  .content {
    top: 40%;
    width: 60%;
  }

  .content h1 {
    font-size: 5rem;
  }
}
